# Домашняя работа по семинару 1

## Задание 1

### 5.1 Найдите картинку в интернете и прикрепите её в ячейку с текстом

<img src='https://klike.net/uploads/posts/2023-02/1675326742_3-31.jpg' width=400px align=left>

### 5.2 Создайте следующую таблицу в ячейке с текстом

<table align=left>
    <tr>
        <td></td>
        <td>ДО СОБЫТИЯ</td>
        <td>ВО ВРЕМЯ СОБЫТИЯ</td>
    </tr>
    <tr>
        <td>Первая контрольная точка</td>
        <td>250</td>
        <td>500</td>
    </tr>
    <tr>
        <td>Вторая контрольная точка</td>
        <td>350</td>
        <td>700</td>
    </tr>
    <tr>
        <td>Третья контрольная точка</td>
        <td>400</td>
        <td>800</td>
    </tr>
</table>
</div>

# Задание 2

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
def fruit_quantity(**fruits):
    return sum(fruits.values())

In [2]:
fruit_quantity(oranges=20, apples=10, bananas=40, pineapples=30)

100

## Задание 3

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [3]:
ad_expenses = [100, 125, -90, 345, 655, -1, 0, 200]

In [4]:
real_ad_expenses = [i for i in ad_expenses if i > 0]

In [5]:
sum(real_ad_expenses)

1425

## Задание 4

Даны два списка.
- **Дата покупки**  
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
- **Суммы покупок по датам**  
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [6]:
shopping_dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
shopping_sums_by_dates = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [7]:
shopping_november = [shopping_sums_by_dates[i] for i in range(len(shopping_sums_by_dates)) if shopping_dates[i].split('-')[1] == '11']

In [8]:
sum(shopping_november)

25098

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [9]:
def shopping_amount_by_month(dates: list, shopping_sums: list, month: int) -> int:
    result = 0;
    for i in range(len(dates)):
        if int(dates[i].split('-')[1]) == month:
            result = result + shopping_sums[i]
    return result

In [10]:
shopping_amount_by_month(shopping_dates, shopping_sums_by_dates, 11)

25098